doctype html
html(lang="ru-Ru")
  head 
    meta(charset="UTF-8")
    title health
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/slick.css")
    link(rel="stylesheet", href="css/slick-theme.css")
    link(rel="stylesheet", href="css/style.min.css")
  body
    div.bg
      div.bg__item
        img(src="img/bg1.png")
      div.bg__item
        img(src="img/bg2.png")
    include ../sections/header
    main.main-page
      include ../sections/diary
      include ../sections/about
      include ../sections/function-app
      include ../sections/plus
      include ../sections/specialist
      include ../sections/subscribe
    include ../sections/footer
    script(src="js/jquery-3.4.1.min.js")
    script(src="js/jquery-migrate-3.1.0.min.js")
    script(src="js/slick.min.js")
    script(src="js/script.js")
