.subscribe {
  box-sizing: border-box;
  position: relative;
  background: #e2e8f5;
  padding-top: 113px;
  padding-bottom: 160px;
}

.subscribe__title {
  @include title;
  text-align: center;
}

.subscribe__text {
  @include name;
  text-align: center;
  margin-top: 7px;
  margin-bottom: 50px;
}

.subscribe__input {
  font-size: 14px;
  color: rgb(168, 178, 191);
  line-height: 1.2;
  text-align: left;
  font-weight: 300;
  border: 1px solid rgb(79, 105, 155);
  border-radius: 30px;
  width: 334px;
  height: 58px;
  padding-left: 14px;
  padding-right: 10px;
  margin-right: 37px;
  outline: none;
}

.subscribe__submit {
  @include button;
  padding: 17px 37px;
}

.subscribe__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe__form {
  position: relative;
}

.ok{
border: 1px solid $cyan;
}
.error{
border: 1px solid $button-color;
}

#valid  {
  font-size: 12px;
  font-weight: 500;
  color: $button-color;
  line-height: 1.5;
  text-align: left;
  border-radius: 30px;
  position: absolute;
  top: -29px;
left: 180px;
}
