$basic-color: #ffffff;
$title-color: #31496b;
$text-color: #60759d;
$cyan: #23b3e2;
$button-color: rgb(231, 0, 103);
$button-text: rgb(240, 245, 255);
$color-mark: rgb(22, 175, 224);

$color-bg: #fafaff;
