section.about
  div.container
    div.about__blocks
      img(src="img/phone.png" alt="«Дневник здоровья»?").about__img
      div.about__block
        h2.about__title Что такое «Дневник здоровья»?
        p.about__description Дневник пациента — это удобный онлайн-сервис:
        ul.about__lists
          li.about__list
            p.about__text Вносите результаты измерений вручную или с помощью интегрированных приборов
          li.about__list
            p.about__text Ведите персональную медицинскую карту с историей ваших измерений 
          li.about__list
            p.about__text Делитесь результатами измерений со специалистами<br> для повышения эффективности лечения
          li.about__list
            p.about__text Получайте рекомендации, созданные специально для вас
        a(href="#").about__link Оставить заявку
