section.diary
  div.diary__position.container
    div.diary__block
      h1.visually-hidden «Дневник здоровья»
      p.diary__motto Расширяем возможности предоставления качественных медицинских услуг
      p.diary__text «Дневник здоровья» – новый сервис для самоконтроля показателей состояния здоровья, разработанный для участников программы «Мое здоровье».
      a(href="#").diary__link Узнать больше
