footer.footer
  div.container
    div.footer__block
      a(href="#").footer__logo
        img(src="img/logo-gray-footer.png" alt="логотип").footer__img
      ul.footer__lists
        li.footer__list
          a(href="#").footer__link О сервисе 
        li.footer__list
          a(href="#").footer__link Функции 
        li.footer__list
          a(href="#").footer__link Возможности 
        li.footer__list
          a(href="#").footer__link Специалистам 
        li.footer__list
          a(href="tel:88005004549").footer__link 88005004549
    div.footer__developer
      p.footer__autor Разработка сайта 
        a(href="https://redsoft.ru/") Redsoft
