section.function-app
  div.container
    h2.function-app__title Функции приложения
    ul.function-app__lists
      li.function-app__list
        div.function-app__border
          img(src="img/001-medicine.png" alt="Планирование").function-app__img
        p.function-app__text Планирование графика<br> приема лекарств
      li.function-app__list
        div.function-app__border
          img(src="img/002-siren.png" alt="Уведомление").function-app__img
        p.function-app__text Уведомление врача<br> об исполнении назначений
      li.function-app__list
        div.function-app__border
          img(src="img/003-health.png" alt="Ведение").function-app__img
        p.function-app__text Ведение дневника<br> самочувствия
      li.function-app__list
        div.function-app__border
          img(src="img/004-smartwatch.png" alt="измерения").function-app__img
        p.function-app__text Удаленное предоставление<br> измерений врачу
      li.function-app__list
        div.function-app__border
          img(src="img/006-conversation.png" alt="Общение").function-app__img
        p.function-app__text Общение с врачами<br> через встроенный мессенджер
      li.function-app__list
        div.function-app__border
          img(src="img/005-facebook.png" alt="Получение уведомлений").function-app__img
        p.function-app__text Получение уведомлений<br> для выполнения назначений
