header.header
  div.container
    div.header__block
      a(href="index.html").header__logo
        img(src="img/logo-gray.png" alt="логотип мое здоровье").header__logo-img
      nav.header__nav.nav
        ul.nav__lists
          li.nav__list
            a(href="#").nav__link О сервисе
          li.nav__list
            a(href="#").nav__link Функции
          li.nav__list
            a(href="#").nav__link Возможности
          li.nav__list
            a(href="#").nav__link Партнеры
      a(href="#").header__appeal Оставить заявку
