section.plus
  div.container
    h2.plus__title Ведите персональный дневник мониторинга здоровья
    div.plus__block
      ol.plus__lists
        li.plus__list
          h3.plus__name Хранение данных
          p.plus__text Контролируйте и следите за динамикой изменения показателей вашего здоровья. Вносите результаты измерений медицинских показателей вручную или с помощью интегрированных приборов, храните историю измерений и отслеживайте динамику состояния здоровья
        li.plus__list 
          h3.plus__name Сообшение информации врачу
          p.plus__text Позвольте специалисту дистанционно следить за вашим здоровьем. Будьте на связи со специалистом - отправляйте информацию о своем самочувствии, обменивайтесь сообщениями и получайте рекомендации по вашему здоровью и лечению.
        li.plus__list
          h3.plus__name Напоминание о важном
          p.plus__text Получайте рекомендации, созданные специально для вас.<br> Система, персонально настроенная под ваши требования, автоматически напомнит о необходимости выполнить рекомендации медицинского специалиста: принять препарат или выполнить измерения.
