section.specialist
  div.container
    div.specialist__block
      div.specialist__image
        img(src="img/card.png" alt="инфокарта").specialist__img
      div.specialist__info
        h2.specialist__title Специалистам
        ul.specialist__lists
          li.specialist__list
            p.specialist__text Дистанционный контроль состояния здоровья ваших пациентов
          li.specialist__list
            p.specialist__text Наблюдение за динамикой изменения основных<br> медицинских показателей
          li.specialist__list
            p.specialist__text Наличие алгоритмов автоматического анализа<br> поступающей информации
          li.specialist__list
            p.specialist__text Индивидуальная система уведомлений об изменении<br> состояния каждого пациента
          li.specialist__list
            p.specialist__text Дополнительный сервис коммуникации, позволяющий активно<br> вовлекать пациента в процесс профилактики, лечения и реабилитации.
